.body{
  text-align:center;
  top:0;
}
.header li{
  list-style:none;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:turquoise;
  display:inline-block;
}
.header{
  background-color:turquoise;
}
.header a{
  color:black;
}
.header .title{
    margin-right: auto;
  padding-left:10px;
  padding-top:10px;
  text-align:center;
}
.header li:hover{
  background-color:#008080;
  color:white;
  transition-duration:0.5s;
  transition-property:background-color,color;
}
a{
  text-decoration:none;
  color:skyblue;
}
.search{
  outline:0;
  border:none;
  background-color:#008080;
  color:white;
  font-size:15pt;
  padding:8px;
  border-radius:5px;
  margin-bottom:20px;
}
::placeholder{
  color:gray;
}
.subSh{
  background-color:orange;
  padding:10px;
  border-radius:5px;
}
.subSh:hover{
  background-color:red;
  color:white;
  transition-duration:0.5s;
  transition-property:color,background-color
}
.pass{
   outline:0;
  border:none;
  background-color:white;
  color:black;
  font-size:15pt;
  padding:8px;
  margin-bottom:20px;
  width:10%;
  border-bottom:3px solid skyblue;
}